#demo_iframe {
  width: 1024px;
  height: 658px;
}
div.presentation_title {
  font-family: 'Optima';
  font-size: 150%;
  font-weight: bold;
}
div.presentation_subtitle {
  font-family: 'Optima';
  font-size: 70%;
  font-weight: bold;
}
div.presenter_info_panel {
  position: relative;
  top: 4em;
  left: 1em;
  font-family: 'Garamond';
  font-size: 80%;
  font-weight: normal;
  text-align: left;
}
div.presenter_info div.presenter_meta {
  width: 55%;
  display: inline-block;
  vertical-align: top;
}
div.presenter_info div.logo {
  width: 30%;
  display: inline-block;
}
div.presenter_info img {
  border: 0px;
  box-shadow: 0 0 0;
  margin: 0;
}
div.presenter_name img {
  margin: 0 0 -7px;
}
#logo_huygens img {
  position: relative;
  top: -20px;
}
div.presenter_affiliation {
  font-size: 60%;
  font-style: italic;
}
div.presenter_email {
  font-size: 70%;
}
div.attribution {
  margin-top: 5em;
  font-size: 30%;
}
div.fin {
  font-family: 'Optima';
  font-size: 150%;
  font-weight: normal;
  font-style: italic;
}
#text_demo_link {
  top: -50px;
  font-family: 'Garamond';
  font-size: 80%;
  font-weight: normal;
}
#fade_in_image {
  position: absolute;
  z-index: 1;
  left: 595px;
}
.fade_in_image {
  -webkit-animation: fadeInFromNone 55s ease-out;
  -moz-animation: fadeInFromNone 55s ease-out;
  -o-animation: fadeInFromNone 55s ease-out;
  animation: fadeInFromNone 55s ease-out;
}
@keyframes fadeInFromNone {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
