html {
  overflow-y: hidden;
}
#demo_panels {
  background-color: #fafafa;
  white-space: nowrap;
}
.demo_panel {
  width: 100%;
  height: 100%;
  position: relative;
  display: inline-block;
  padding-left: 2%;
  /* border: 1px dotted lightgreen; */
  vertical-align: top;
}
.button {
  border: 0.5px solid gray;
  padding: 3px;
  width: 200px;
  margin-top: 20px;
  text-align: center;
  margin: 20px auto 20px auto;
}
.button:hover {
  cursor: pointer;
  background-color: #eee;
}
textarea {
  padding: 10px;
  font-family: courier;
  font-size: 80%;
  width: 47%;
  height: 80%;
}
iframe {
  border: 0.5px solid gray;
  padding: 10px;
  width: 45%;
  height: 80%;
}
